{% load static %}

<style>

.navbar-nav .nav-item {
    margin-right: 20px; 
}

.logo-full,
.logo-small {
  transition: opacity 0.3s;
  max-height: 45px;
  max-width: 100%;
}

.logo-small.d-none {
  display: none;
  opacity: 0;
}

</style>



<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed" style="padding:2px;">
    <div class="container-fluid" style="font-family: 'Epilogue', sans-serif; background-color: #FFFFF2;">
      <a class="navbar-brand" href="{% url 'comintapp:index' %}" style="margin-left: 70px;">
        <img src="{% static 'comintapp/images/default_logo.png' %}" alt="CoMint" height="50" class="d-inline-block align-text-top logo-full">
        <img src="{% static 'comintapp/images/small_logo.png' %}" alt="CoMint" height="35" class="d-inline-block align-text-top logo-small d-none">
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav mx-auto me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'loans' %}active{% endif %}" aria-current="page" href="{% url 'comintapp:loans' %}">Lend</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'fund_requests' %}active{% endif %}" href="{% url 'comintapp:fund_requests' %}">Borrow</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'payments' %}active{% endif %}" href="{% url 'comintapp:payments' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'payments' %}active{% endif %}" href="{% url 'comintapp:payments' %}">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'payments' %}active{% endif %}" href="{% url 'comintapp:payments' %}">Blog</a>
          </li>
        </ul>        

        <ul class="navbar-nav" >
        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdownAbout" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-user-circle fa-lg"></i>
              <span class="ms-2">{{ request.user.first_name }}</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownAbout">
              <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>

          </ul>
        </li>
      {% else %}
        <li class="nav-item" >
          <a class="nav-link btn-lg btn-block" href="{% url 'account_login' %}" style="background-color: rgb(190, 244, 160); color: black; border-radius: 12px; width: 90px; text-align: center;">Log In</a>
        </li>

        <li class="nav-item" style="margin-right: 70px;">
          <a class="nav-link btn-lg btn-block" href="{% url 'account_signup' %}" style="background-color: #26176F; color: white; border-radius: 12px; width: 90px; text-align: center;">Sign Up</a>
        </li>
      {% endif %}
    </ul>
      </div>
    </div>
  </nav>
  