:root{
    --cm-padding-left:10%;
    --cm-padding-right:10%;
    --cm-margin-left:10%;
    --cm-margin-right:10%;
}

#hero-background{
    background-image: url('/comintapp/static/comintapp/images/wave-haikei.png');
    background-repeat: no-repeat;
    background-size:cover;
}

.bottom-wrapper{
    background-color: #26176F;
    color:white;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: var(--cm-margin-left);
    padding-right: var(--cm-margin-right);
}

.bottom-content{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.bottom-content > * {
    flex:1 1 10em;
}

.num-bg{
    background-image: url('/static/comintapp/images/number-bg.png');
    background-repeat: no-repeat;
}

.cm-margin-l{
    margin-left: var(--cm-margin-left);
}

.cm-margin-r{
    margin-right: var(--cm-margin-right);
}

.cm-margin{
    margin-left: var(--cm-margin-left);
    margin-right: var(--cm-margin-right);
}

.cm-padding-l{
    padding-left:var(--cm-padding-left);
}
.cm-padding-r{
    padding-left:var(--cm-padding-right);
}
.cm-padding{
    padding-left: var(--cm-padding-left);
    padding-right: var(--cm-padding-right);
}


#main-content{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom:75px;
}

#main-content > *{
    flex:1 1 10em;
}

#main-content-img{
    min-width: 300px;
}



#why-choose-comint{
    font-family: 'Poppins';
    font-size:40px;
    font-weight:'semi-bold';
}

.semi-bold{
    font-weight:'semi-bold';
}

#at-comint-we{
    font-size:24px;
    font-family: 'Epilogue';
}

#borrow-better{
    font-size:60px;
    font-weight:'bold';
    font-family:'Poppins';
}

#connect-with{
    font-size:24;
    font-family:'Epilogue';
}

#main-content-words{
    padding-top:100px;
}

.c-modal{
    border: 1px black;
    border-radius: 5px;
    
}

.hiw-header{
    font-size:60px;
    text-align: center;
    font-family:'Poppins';
    
}

.mainpage-body{
    background-color: white;
}

.hiw-upperbody{
    background-image: url('/static/comintapp/images/hiw-upper-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -5em;
    display:flex;
    flex-wrap: wrap;


    justify-content: space-between;
    margin-top:5em;
    padding-top: 4em;
    padding-left: var(--cm-padding-left);
    padding-right: var(--cm-padding-right);

}

.hiw-upperbody > *{
    flex:1 1 10em;
}

.hiw-upperbody-textcontainer{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 10%;
    font-size:24px;    
}

.vert-align{
    vertical-align: middle;
}

.flexb{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}



.step-row{
    
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-evenly;
    padding-top:1.5em;
    padding-bottom:1.5em;
   
}

.step-article{
    margin:auto;
    margin-left: 1em;
    margin-right: 1em;
    margin-top:1em;
    margin-bottom:1em;
    min-width:350px;
    max-width: 350px;

    min-height:500px;
    max-height: 500px;
    border: 8px solid #26176F;
    border-radius: 27px;
}

.cm-blue{
    color:#26176F
}

.cm-bold{
    font-weight: bolder;
}



.gochi-hand{
    font-family: "Gochi Hand";
}

.steps{
    margin-bottom: 8em;
}

.step-content{
    margin-top:5em;
    margin-left:3em;
    margin-right: 3em;
    font-size:16px;
}

input[type="text"], input[type="tel"], input[type="email"]{
    background-color:#FFFFF2; 
}

.poppins{
    font-family: 'Poppins';
}

.epilogue{
    font-family: 'Epilogue';
}

.txt-med{
    font-size:24px;
}

.txt-vlrg{
    font-size:70px;
}

.txt-lrg{
    font-size:48px;
}

.txt-medlrg{
    font-size:40px;
}
/* 
@media (max-width: 1000px){
    #main-content{
        display:flex;
        flex-wrap: wrap;
        padding-bottom:75px;
    }

    #main-content-words{
        padding-left:0px;
        padding-top:100px;
    }

    img{
        max-width: 100%;
    }
}

@media (max-width: 350px){
    #main-content{
        display:flex;
        flex-wrap: wrap;
        padding-bottom:75px;
    }

    .bottom-content{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #main-content-words{
        padding-left:0px;
        padding-top:100px;
    }

    img{
        max-width: 100%;
    }
}

@media (min-width:1440px){

    
    .hiw-upperbody{
        background-size: cover;
    }
   
  
} */
