{% load static %}

<style>

    .custom-column {
      padding-left: 75px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    hr {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  </style>
</head>
<body>

<div class="container mt-4">
  <div class="row">

    <div class="col-lg-3 col-md-6 custom-column">
      <ul class="list-unstyled">

        <li style="text-decoration: none; margin-bottom: 5px; padding-bottom: 5px;">
            <img src="{% static 'comintapp/images/default_logo.png' %}" alt="Comint Logo" height="60" class="d-inline-block mb-2" style="text-decoration: none;">
        </li>
        <li>
            <p style="font-family: 'Poppins', sans-serif;"> Connect with like-minded borrowers and investors, and unlock a world of opportunities
            </p>
        </li>
        <li class="social-icons" style="">
            <a href="#" class="text-warning me-2"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="text-warning me-2"><i class="fab fa-twitter"></i></a>
            <a href="#" class="text-warning me-2"><i class="fab fa-instagram"></i></a>
            <a href="#" class="text-warning me-2"><i class="fab fa-linkedin-in"></i></a>
            <a href="#" class="text-warning"><i class="fab fa-youtube"></i></a>
        </li>

    </ul>
      </ul>
    </div>

    <div class="col-lg-3 col-md-6 custom-column">
      <h5 class="mb-4" style="color: #26176F; font-family: 'Poppins', sans-serif;">Legal</h5>
      <ul class="list-unstyled">
        <li><a href="#!" class="text-dark" style="text-decoration: none;">Privacy and Security</a></li>
        <li><a href="#!" class="text-dark" style="text-decoration: none;">Terms of Use</a></li>
        <li><a href="#!" class="text-dark" style="text-decoration: none;">Disclaimers</a></li>
        <li><a href="#!" class="text-dark" style="text-decoration: none;">Licenses</a></li>
        </ul>
    </div>

    <div class="col-lg-3 col-md-6 custom-column">
      <h5 class="mb-4" style="color: #26176F; font-family: 'Poppins', sans-serif;">Company</h5>
        <ul class="list-unstyled">
            <li><a href="{% url 'comintapp:about' %}" class="text-dark" style="text-decoration: none;">About Us</a></li>
            <li><a href="#!" class="text-dark" style="text-decoration: none;">Our Leadership</a></li>
            <li><a href="#!" class="text-dark" style="text-decoration: none;">How it Works</a></li>
            <li><a href="#!" class="text-dark" style="text-decoration: none;">Our Values</a></li>
            <li><a href="#!" class="text-dark" style="text-decoration: none;">Diversity, Equality & Inclusion</a></li>
            <li><a href="#!" class="text-dark" style="text-decoration: none;">Newsletter</a></li>
        </ul>
    </div>

    <div class="col-lg-3 col-md-6 custom-column">
        <h5 class="mb-4" style="color: #26176F; font-family: 'Poppins', sans-serif;">Questions</h5>
        <ul class="list-unstyled">
            <li><a href="#!" class="text-dark" style="text-decoration: none;">FAQ</a></li>
            <li><a href="{% url 'comintapp:contact' %}" class="text-dark" style="text-decoration: none;">Contact Us</a></li>
        </ul>
      </div>
  </div>

  <hr>
  <div class="row" style="margin-bottom: 20px;">
    <div class="col-md-6 text-start" style="font-family: 'Poppins', sans-serif;">
      Copyright © 2023 COMINT
    </div>
    <div class="col-md-6 text-end" style="font-family: 'Poppins', sans-serif;">
      All Rights Reserved | <a href="#!" class="" style="color: #4A3AFF;">Terms and Conditions</a> | <a href="#!" class="" style="color: #4A3AFF;">Privacy Policy</a>
    </div>
  </div>
</div>