{% load static %}

<hr class="my-4">
<footer class="bg-white text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
      <!--Grid row-->
      <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <img src="{% static 'comintapp/images/default_logo.png' %}" alt="Comint Logo" height="60" class="d-inline-block mb-2">
              <p>
                  Connect with like-minded borrowers and investors, and unlock a world
                  of opportunities
              </p>
              <div class="social-icons">
                  <a href="#" class="text-warning me-2"><i class="fab fa-facebook-f"></i></a>
                  <a href="#" class="text-warning me-2"><i class="fab fa-twitter"></i></a>
                  <a href="#" class="text-warning me-2"><i class="fab fa-instagram"></i></a>
                  <a href="#" class="text-warning me-2"><i class="fab fa-linkedin-in"></i></a>
                  <a href="#" class="text-warning"><i class="fab fa-youtube"></i></a>
              </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-primary mb-4">Legal</h5>
              <ul class="list-unstyled mb-0">
                  <li><a href="#!" class="text-dark">Privacy and Security</a></li>
                  <li><a href="#!" class="text-dark">Terms of Use</a></li>
                  <li><a href="#!" class="text-dark">Disclaimers</a></li>
                  <li><a href="#!" class="text-dark">Licenses</a></li>
              </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-primary mb-4">Company</h5>
              <ul class="list-unstyled mb-0">
                  <li><a href="#!" class="text-dark">About Us</a></li>
                  <li><a href="#!" class="text-dark">Our Leadership</a></li>
                  <li><a href="#!" class="text-dark">How it Works</a></li>
                  <li><a href="#!" class="text-dark">Our Values</a></li>
                  <li><a href="#!" class="text-dark">Diversity, Equality & Inclusion</a></li>
                  <li><a href="#!" class="text-dark">Newsletter</a></li>
              </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-primary mb-4">Questions</h5>
              <ul class="list-unstyled mb-0">
                  <li><a href="#!" class="text-dark">FAQ</a></li>
                  <li><a href="#!" class="text-dark">Contact Us</a></li>
              </ul>
          </div>
          <!--Grid column-->
      </div>
      <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <hr>
  <div class="container p-1">
    <div class="row">
      <div class="col-6 text-start">
        Copyright © 2023 COMINT
      </div>
      <div class="col-6 text-end">
        All Rights Reserved | <a href="#!" class="text-dark">Terms and Conditions</a> | <a href="#!" class="text-dark">Privacy Policy</a>
      </div>
    </div>
  </div>
  <!-- Copyright -->
</footer>
