{% load static %}
<style>
    .sidebar {
       
        padding-left: 2em;
        padding-right: 4em;
      
        min-width: 20em;
        background-color: #FFFFF2;
        display:inline-block;

        overflow: hidden;
  
        border-right: #26176F solid;
        
      }

      .current-page {
        color: #26176F !important; 
         
       
       }
 
      .sidebar .link {
        
        color: #B1B1B1;
        font-size:20px;
      }

      .sidebar a{
        text-decoration: none;
        color: currentcolor;
      }

      .sidebar .link:hover {
        color: #26176F
      }

      .sidebar ul {
        list-style-type: none;
      }

      .sidebar li{
        margin-top: 1em;
        margin-bottom: 1em
      }

      .sidebar-title{
        background-color: #26176F;
        color: #FFFFF2;
        text-align:center;
        border-radius:20px;
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 2em;
        margin-top: 1em;
        padding-top: .5em;
        padding-bottom:1px;
      }

      svg path{
        fill:currentcolor;
      }

      .sel-false{
        opacity: 0; 
      }

      .sel-true{
        opacity: 1;
      }

      @media (max-width: 768px) {

      .sidebar{
        display: block;
        width: 100%;
      }

      .sidebar li{
        display:inline-block;
      }

      }

   

      

      {% block sb_styles %}{% endblock sb_styles %}


</style>

<div class="sidebar">
    
    {% block sb_content %}{% endblock sb_content %}
 
 

</div> 



