{% load static %}

<style>
.logo-full,
.logo-small {
  transition: opacity 0.3s;
  max-height: 45px;
  max-width: 100%;
}

.logo-small.d-none {
  display: none;
  opacity: 0;
}

.navbar{
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
{% block nav_styles %}{% endblock nav_styles %}
</style>

<nav class="navbar navbar-expand-lg navbar-light navbar-fixed" style="padding:2px">
    <div class="container-fluid" style="font-family: 'Epilogue', sans-serif;">
      <a class="navbar-brand" href="{% url 'comintapp:index' %}" style="margin-left: 70px;">
        <img src="{% static 'comintapp/images/default_logo.png' %}" alt="CoMint" height="50" class="d-inline-block align-text-top logo-full">
        <img src="{% static 'comintapp/images/small_logo.png' %}" alt="CoMint" height="35" class="d-inline-block align-text-top logo-small d-none">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% block left_content %}Left Links{% endblock left_content%}
        </ul>
        <ul class="navbar-nav mx-auto">
          {% block center_content %}Center Links{% endblock center_content%}
        </ul>
        <ul class="navbar-nav mx-auto">
            {% block right_content %}Right Links{% endblock right_content%}
        </ul>
      </div>
    </div>
    </nav>