{% load account %}
{% load i18n %}

{% autoescape off %}{% user_display user as user_display %}{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}<p style="color: black; font-family:'Poppins', sans-serif;">Dear {{ user_display }},</p>  <p style="color: black; font-family: 'Poppins', sans-serif;">Welcome to CoMint, your peer-to-peer lending partner!</p>

<p style="color: black; font-family:'Poppins', sans-serif;">To get started, please verify your email by clicking the button below:</p> 
<p style="color: black; font-family:'Poppins', sans-serif;">{{ activate_url }}</p>

<p style="color: black; font-family:'Poppins', sans-serif;">This link will be valid for 30 minutes.</p> 

<p style="color: black; font-family:'Poppins', sans-serif;">Unlock the full potential of CoMint—create loans, invest, and reach your financial goals!</p> 

<p style="color: black; font-family:'Poppins', sans-serif;">If you didn't sign up, please ignore this email.</p> 

<p style="color: black; font-family:'Poppins', sans-serif;">For questions or assistance, contact us at admin@comintapp.com.</p> 

<p style="color: black; font-family:'Poppins', sans-serif;">Best regards,</p> 

<p style="color: black; font-family:'Poppins', sans-serif;">CoMint Team</p> 

<p style="color: black; font-family:'Poppins', sans-serif;">[CoMint Logo] </p> 
HTML VERSION
<p style="color: black; font-family:'Poppins', sans-serif;">{{ site_domain }}</p> 
{% endblocktrans %}{% endautoescape %}
