{% extends "base.html" %}
{% load i18n %}

{% block body %}
{% comment %} <div>
<strong>{% trans "Menu:" %}</strong>
<ul>
  {% if user.is_authenticated %}
  <li><a href="{% url 'account_email' %}">{% trans "Change Email" %}</a></li>
  <li><a href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a></li>
  {% else %}
  <li><a href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
  <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
  {% endif %}
</ul>
</div> {% endcomment %}
{% block content %}
{% endblock content %}
{% endblock body %}
{% block extra_body %}
{% endblock extra_body %}
