{% extends "account/base.html" %}
{% load widget_tweaks %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}

{% block content %}
<section class="vh-100">
    <div class="container pb-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-lg-7 my-5 p-5" style="background-color: #FFFFF2; border-radius: 20px">
                <h1 class="mt-1 pb-1 text-center" style="font-family: 'Poppins', sans-serif;">{% trans "Password Reset" %}</h1>
    
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
    
                <p class="mb-3 pb-1" style="font-size: 16px; font-family: 'Poppins', sans-serif;">{% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}