{% extends "account/base.html" %}
{% load widget_tweaks %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}

  <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-lg-5 my-5 p-5" style="background-color: #FFFFF2; border-radius: 20px">
          <h1 class="mt-1 pb-4 text-center" style="font-family: 'Poppins', sans-serif; color: #26176F;">
            {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Reset Password" %}{% endif %}</h1>

          {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please
              request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
          {% else %}
            <form method="POST" action="{{ action_url }}" class="password_reset_from_key">
              {% csrf_token %}

              <p class="mb-3 pb-1" style="font-size: 16px; font-family: 'Poppins', sans-serif; text-align: center;">
                Enter a new password to reset the password on your account. We’ll ask for this password whenever you log
                in.</p>

              <div class="form-outline mb-4">
                <label class="form-label" for="form1Example13">{{ form.password1.label }}</label>
                {% render_field form.password1 placeholder="Password" class="form-control form-control-md" style="border-color: #26176F" %}
              </div>

              <!-- <ul class="mb-4" style="font-size: 14px; font-family: 'Poppins', sans-serif">
                  <li style="margin: -8px -5px;">
                      <p>Must be at least 15 characters long</p>
                  </li>
                  <li style="margin: -8px -5px;">
                      <p>Must contain an uppercase and a lowercase letter (A, Z)</p>
                  </li>
                  <li style="margin: -8px -5px;">
                      <p>Must contain a number</p>
                  </li>
                  <li style="margin: -8px -5px;">
                      <p>Must contain a special character (!; %, Q, #, etc.).</p>
                  </li>
              </ul> -->

              <div class="form-outline mb-4">
                <label class="form-label" for="form1Example13">{{ form.password2.label }}</label>
                {% render_field form.password2 placeholder="Password" class="form-control form-control-md" style="border-color: #26176F" %}
              </div>
              <button type="submit" class="btn btn-lg btn-block mt-5"
                      style="color: white; background-color: #26176F; font-family: 'Poppins', sans-serif; display: block; margin: 0 auto;">{% trans 'Reset Password' %}</button>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

{% endblock content %}
