{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-lg-7 p-5" style="background-color: #FFFFF2; border-radius: 20px">
                <h1 class="mt-1 pb-1 text-center" style="font-family: 'Poppins', sans-serif;">{% trans "Change Password" %}</h1>
                <p class="mb-3 pb-1" style="font-size: 16px; font-family: 'Poppins', sans-serif; text-align: center;">{% trans 'Your password is now changed.' %}</p>     
            </div>
        </div>
    </div>
</section>
{% endblock content %}
