{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock head_title %}

{% block content %}
<section style="display: flex; align-items: center; justify-content: center; margin-top:5em;">
    <div style="background-color: #FFFFF1; border-radius: 20px; border: 1px solid #ddd; box-shadow: 0 0 10px rgba(0,0,0,0.1); padding: 20px; width: 500px; text-align: center;">
        <h1>{% trans "Set Password" %}</h1>

        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
        </form>
    </div>
</section>
{% endblock content %}
