{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your Email Address" %}{% endblock head_title %}

{% block content %}
<section class="vh-100">
    <div class="container pb-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-lg-7 my-5 p-5" style="background-color: #FFFFF2; border-radius: 20px">
                <h1 class="mt-1 pb-1 text-center" style="font-family: 'Poppins', sans-serif;">{% trans "Verify Your Email Address" %}</h1>
                <p class="mb-3 pb-1" style="font-size: 16px; font-family: 'Poppins', sans-serif; text-align: center;">{% blocktrans %}We have sent an email to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification email in your main inbox, check your spam folder. Please contact us if you do not receive the verification email within a few minutes.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
