{% extends "base.html" %}

{% load static %}

{% block head_title %}Comint - Cashboard {% endblock head_title %}

{% block body %}
<div class="container">
  <h2 style="color: blue;">Choose Your Path</h2>
  <div class="row">
    <div class="col">
      <div class="card" style="background-color: gray;">
        <div class="card-body">
          <h5 class="card-title">Lender</h5>
          <p class="card-text">Start lending and make a difference.</p>
          <a href="{% url 'comintapp:lender_view' %}" class="btn btn-primary">Start Lending</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="background-color: gray;">
        <div class="card-body">
          <h5 class="card-title">Borrower</h5>
          <p class="card-text">Start borrowing for your needs.</p>
          <a href="{% url 'comintapp:borrower_view' %}" class="btn btn-primary">Start Borrowing</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
