{% extends "base.html" %}

{% load static %}

{% block head_title %}CoMint Home{% endblock head_title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'comintapp/css/mainpage.css' %}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Gochi+Hand" />
{% endblock styles %}

{% block body %}
<div class="mainpage-body">
    <div id="hero-background" style="background-image: url('{% static 'comintapp/images/wave-haikei.png' %}');">
        <div id="main-content" class="cm-margin">  
            <div id="main-content-words"  >
                <img class="img-fluid" src="{% static 'comintapp/images/default_logo_crop.png' %}">
                <p id="borrow-better">Borrow better,<br> Invest smarter!</p>
                <p id="connect-with" class="cm-margin-r">Connect with like minded borrowers and investors , and unlock a world of
                    opprotunities,
                    all on one seamless platform</p>
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#waitlistModal"
                        style="background-color: #26176F; color:white; font-family: 'Epilogue';"> Join the waitlist >
                </button>
            </div>
            <div id="main-content-img" >
                <img src="{% static 'comintapp/images/comint-phones.png' %}" class="img-fluid">
            </div>
        </div>
    </div>

    <div class="bottom-wrapper cm-padding">
        <div class="bottom-content">
            <div class="txt-medlrg poppins semi-bold">
                <p>Why Choose CoMint <br> For Your Lending And <br> Borrowing Experience</p>
            </div>
            <div class="txt-med epilogue">
                <p> At CoMint we beleive in a world where <br> anyone can acheive their dreams, <br> unburdened by
                    traditional financial barriers</p>
                <button class="btn btn-light">Learn more ></button>
            </div>
        </div>
        {% comment %} <div id="bottom-navbars">
            <nav class="navbar navbar-expand-lg navbar-light justify-content-between navbar-dark" style="color:#ffffff">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto ">
                        <li class="nav-item active px-2">
                            <a class="nav-link" href="#"> TERMS OF SERVICE </a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link" href="#">PRIVACY POLICY</a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link" href="#">FAQ</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <nav class="navbar navbar-expand-lg navbar-light justify-content-between navbar-dark">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto ">
                        <li class="nav-item active px-2">
                            <a class="nav-link" href="#"> X</a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link" href="#">FACEBOOK</a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link" href="#">INSTAGRAM</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div> {% endcomment %}
    </div>
    <div id="how-it-works">
        <div class="hiw-header">
        <h1 class="hiw-header mt-4">HOW IT WORKS</h1>
        <img src="{%static 'comintapp/images/hiw-underline.png'%}">    
    </div>

        <div class="hiw-upperbody">
            <div>
            <img class="img-fluid" src="{%static 'comintapp/images/howitworks.png'%}"> 
            </div>
            <div class="hiw-upperbody-textcontainer">
                <p class="vert-align epilogue txt-med">By combining cutting-edge technology with human connection, we offer a seamless and transparent experience that empowers you to borrow smarter and invest with confidence</p>
            </div>
        </div>
        <div class="cm-padding">

        <div class="step-row">
            <div class="step-article">
                <div class="step-content">
                <div class="cm-blue gochi-hand my-4 txt-lrg num-bg"> 01</div>

                <p class="cm-blue epilogue my-4 cm-bold txt-med">Sign up</p>

                <p class="epilogue my-4">Create your account in a few simple steps. Tell us your financial goals and preferences, so we can tailor the lending or investing experience just for you</p>
                </div>
            </div>

            <div class="step-article">
                <div class="step-content">
                    <h2 class="cm-blue gochi-hand my-4 txt-lrg num-bg"> 02</h2>
    
                    <p class="cm-blue epilogue my-4 cm-bold txt-med">Choose your role</p>
    
                    <p class="epilogue my-4">Decide whether you want to borror or invest. Our intuitive platform guides you through the process, making it easy to find the perfect match for your needs</p>
                    </div>
            </div>

            <div class="step-article">
                <div class="step-content">
                    <h2 class="cm-blue gochi-hand my-4 txt-lrg num-bg"> 03</h2>
    
                    <p class="cm-blue epilogue my-4 cm-bold txt-med">Browse listings</p>
    
                    <p class="epilogue my-4"> <b>Borrowers</b>: Explore a diverse range of loan options from verified investors <br> <b>Investors</b>: Discover promising loan requests that align with your investment strategy</p>
                    </div>
            </div>
        </div>
        <div class="step-row">
        
            <div class="step-article">
                <div class="step-content">
                    <h2 class="cm-blue gochi-hand my-4 txt-lrg num-bg"> 04</h2>
    
                    <p class="cm-blue epilogue my-4 cm-bold txt-med">Connect and Transact</p>
    
                    <p class="epilogue my-4">Initiate connections with borrowers or investors that catch your interest. Communicate, negotiate, terms, and finalize the transaction securely through CoMint.</p>
                    </div>
            </div>

            <div class="step-article">
                <div class="step-content">
                    <h2 class="cm-blue gochi-hand my-4 txt-lrg num-bg"> 05</h2>
    
                    <p class="cm-blue epilogue my-4 cm-bold txt-med">Monitor and grow</p>
    
                    <p class="epilogue my-4">For investors, track the performance of your investments in real-time. For borrowers, manage your repayments efficiently and build a positive credit history.</p>
                    </div>
            </div>

            <div class="step-article">
                <div class="step-content">
                    <h2 class="cm-blue gochi-hand my-4 txt-lrg num-bg"> 06</h2>
    
                    <p class="cm-blue epilogue my-4 cm-bold txt-med">Build your financial future</p>
    
                    <p class="epilogue my-4">Watch your financial aspirations take flight as you leverage the power of peer-to-peer lending.
                        With CoMint, you're not just a borrower or an investor; you're part of a thriving community.</p>
                    </div>
            </div>
        
        </div>

        </div>



    </div>

    <div class="bottom-wrapper">
        
        <div class="bottom-content">
            <img class="img-fluid" src="{%static '/comintapp/images/bottom-img.png'%}">   

            <div>
                <div><p class="h1 txt-lrg epilogue">Dont miss out!</p>
                    <p class="txt-vlrg poppins">Join our waitlist!</p>
                    <button type="button" class="btn btn-light epilogue cm-blue semi-bold" data-bs-toggle="modal" data-bs-target="#waitlistModal"> Join the waitlist >
                </button>
                </div>
                

            </div>

        </div>

    </div>

</div>
    <div class="modal fade" id="waitlistModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #26176F; color: white;">
                    <h1 class="modal-title fs-5 mx-auto" id="exampleModalLabel" style="font-family:'Poppins';">Join Our
                        Waitlist</h1>
                    <div>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                </div>

                
                <div class="modal-body" style="background-color:#FFFFF2;  border-radius: 0px 0px 40px 40px;">
                    <div id="waitlist-form">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">First name <span
                                    style="color:#FC9E4F">*</span></label>
                            <input type="text" class="form-control" id="waitlist-firstname">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Last name <span
                                    style="color:#FC9E4F">*</span></label>
                            <input type="text" class="form-control" id="waitlist-lastname">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address <span
                                    style="color:#FC9E4F">*</span></label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Phone number <span style="color:#FC9E4F">(optional)</span></label>
                            <input type="tel" class="form-control" id="waitlist-lastname">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">I agree to receive text updates from
                                comint</label>
                        </div>
                        <button type="button" class="btn mx-auto" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                style="background-color: #26176F; color:white; font-family: 'Epilogue';"> Join the
                            waitlist
                            >
                        </button>
                </div>
                </div>
            </div>
        </div>
    </div>


{% endblock body %}

   
{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
{% endblock scripts %}

