{% extends "base.html" %}
{% block body %}
<div class="container mt-4">
    <h2>Loan Request Details</h2>
    <div>
        <h3>{{ loan_request.name }}</h3>
        <h5> by {{ loan_request.user }}</h5>
        <hr>
        <p>Description: {{ loan_request.description }}</p>
        <p>Amount: ${{ loan_request.amount }}</p>
        <p>Interest Rate: {{ loan_request.interest_rate }}%</p>
        <p>Term: {{ loan_request.term }} months</p>
        {% if user == loan_request.user %}
            <a href="{% url 'comintapp:manage_loan' loan_request.id %}" class="btn btn-primary">Manage Loan</a>
        {% else %}
            <a href="{% url 'comintapp:manage_loan' loan_request.id %}" class="btn btn-success">Fund Loan</a>
        {% endif %}
    </div>
    <div class="mt-4">
            <h2>Negotiation Trails</h2>
            {% if show_warning %}
            <div class="alert alert-warning" role="alert">
                <i class="bi bi-exclamation-triangle-fill"></i> Because you have an existing line of credit for this loan request, you can only view your own negotiation details.
            </div>
            {% include "comintapp/negotiations_table.html" with negotiations=user_negotiations %}
        {% else %}
            {% for loc_id, negotiations in loc_negotiations_map.items %}
                <h4>Negotiations for Line of Credit #{{ loc_id }}</h4>
                {% include "comintapp/negotiations_table.html" with negotiations=negotiations %}
                <br>
                <hr>
                <br>
                {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
