{% load static %}

<style>
.logo-full,
.logo-small {
  transition: opacity 0.3s;
  max-height: 45px;
  max-width: 100%;
}

.logo-small.d-none {
  display: none;
  opacity: 0;
}

</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed" style="padding:2px">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'comintapp:index' %}">
        <img src="{% static 'comintapp/images/default_logo.png' %}" alt="CoMint" height="45" class="d-inline-block align-text-top logo-full">
        <img src="{% static 'comintapp/images/small_logo.png' %}" alt="CoMint" height="30" class="d-inline-block align-text-top logo-small d-none">
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'loans' %}active{% endif %}" aria-current="page" href="{% url 'comintapp:loans' %}">Loans</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'fund_requests' %}active{% endif %}" href="{% url 'comintapp:fund_requests' %}">Fund Requests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'payments' %}active{% endif %}" href="{% url 'comintapp:payments' %}">Payments</a>
          </li>
          </ul>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdownAbout" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-user-circle fa-lg"></i>
              <span class="ms-2">{{ request.user.first_name }}</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownAbout">
              <li><a class="dropdown-item" href="{% url 'comintapp:logout' %}">Logout</a></li>
          </ul>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'comintapp:login' %}">Login</a>
        </li>
      {% endif %}
      </ul>
      </div>
    </div>
  </nav>
  